/node_modules
/public/hot
/public/storage
/public/sliders
/public/featured-images
/public/announcement-files
/public/event-images
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
debug.log
[Tt]humbs.db
_ide_helper.php
